:root {
    --main-color: rgb(255, 243, 177);
    --navbars-color: rgb(53, 94, 103);
    --box-color: rgba(224, 160, 63, 0.3);;
    --font-color1: white; 
    --font-color2: black;
    --font-color3:  rgb(159, 43, 44); 
    --p-font: Arial;
    --box-blur: blur(20px);
    --webkitbox-blur: blur(20px);
    --box-shadow: 0 1px 12px rgba(255, 255, 255, 0.25);
    --box-border: 1px solid rgba(255, 255, 255, 0.25);;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
}

/*HEADER + MAIN + FOOTER*/

header {
    height: calc(100vh - 95vh);
    background-color: var(--navbars-color);
}

nav {
    height: 100%;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.2em;
}

.logo-menu {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7em;
}

.logo-menu a {
    color: var(--main-color);
    font-size: 1.6em; 
}

#botoes-pesquisa {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding-right: 7em;
}

#botoes-pesquisa a {
    border: 1px solid rgba(224, 160, 63, 1);
    border-radius: 3px;
    padding: 4px 4px;
    color: var(--main-color);
}

#botoes-pesquisa a:hover {
    transform: scale(1.05);
}

footer {
    height: calc(100vh - 95vh);
    display: flex;
    background-color: var(--navbars-color);
}

.contacto-footer {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7em;
}

.contacto-footer a {
    text-decoration: none;
    color: var(--font-color1);
    font-size: 1.2em;
}

.redes-sociais {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    padding-right: 7em;
}

.instagram-logo {
    width: 2em;
    height: 2em;
}

.facebook-logo {
    width: 3.5em;
    height: 3.5em;
}

main {
    height: auto;
    min-height: calc(100vh - 10vh);
}

/* INDEX.HTML*/

/* SECTION INTRODUCAO */

.introducao {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0 7em 0;
    margin: 0 auto;
    gap: 5em;
}

.introducao-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao-titulo h1 {
    width: 60%;
    font-size: 3em;
    margin: 0;
    color: var(--font-color3);
}

.introducao-paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introducao-paragrafo p {
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0;
    font-family: 'Courier New';
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);

}

/* SECTION CONTADOR-APARTAMENTOS */

.contador-apartamentos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.contador-apartamentos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family: Calibri;
    color: var(--navbars-color);
}

.resumo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    padding-bottom: 1em;
}

.resumo-container div {
    display: flex;
    width: 14em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black;
    background-color: var(--main-color);
}

.resumo-container div p {
    margin: 0;
    padding: 0.8em 1.3em;
}

/* FLATS.HTML*/

/*SECTION REFINAR-APARTAMENTOS*/
.refinar-apartamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-filtros {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
    padding: 1em 1em;
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}


.filtro-buttons {
    display: flex;
    gap: 1.3em;
}

.filtro-buttons button {
    border: 2px solid var(--navbars-color);
    border-radius: 3px;
    color: var(--font-color2);
    background-color: var(--main-color);
    font-size: 0.9em;
    cursor: pointer;
    padding: 0.3em 1.0em;
}

.filtro-buttons button:hover {
    transform: scale(1.1);
}

.botoes-ordenar {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding :2em 0;
    gap: 1.5em;
}

.botoes-ordenar button {
    background-color: var(--box-color);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    border-color: var(--navbars-color);
    font-size: 0.9em;
    cursor: pointer;
    padding: 0.7em 1.2em;
}

.botoes-ordenar button:hover {
    transform: scale(1.1);
}

/*APARTAMENTOS-CADASTRADOS*/

.apartamentos-cadastrados {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 1em auto;
    gap: 1em;
}

#paragrafoNenhum {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.style-div-flats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 1em;
    margin: 0 auto 1em auto;
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
    padding: 1em;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}

.style-div-flats p {
    margin: 0;
}

.lista-flats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.numero-lista-aps {
    font-weight: 700;
    color: var(--font-color3);
}

.style-div-flats .numero-lista-aps  {
    border-bottom: none;
}

.style-flat {
    font-family: Arial;
}

.numero-lista-aps {width: 1.5em; height: 1em;}
.cidade {width: 10em; height: 2em;}
.rua {width: 10em; height: 2em; }
.numero {width: 10em; height: 2em;}
.area {width: 10em; height: 2em; }
.valor {width: 10em; height: 2em; }
.ac {width: 10em; height: 2em; }
.ano {width: 10em; height: 2em; }

.hidden {
    display: none;
}

.style-div-favoritar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Arial Narrow';
    color: var(--font-color3);
    gap: 0.5em;
}

.style-div-favoritar p {
    border: 0;
}

.favoritar-check {
    cursor: pointer;
}

.style-button-eliminar {
    border: 2px solid var(--navbars-color);
    border-radius: 3px;
    color: var(--font-color2);
    background-color: var(--main-color);
    padding: 0.2em 1em;
    cursor: pointer;
}

.style-button-eliminar:hover {
    transform: scale(1.15);
}

/*CADASTRAR-NOVO*/

.cadastrar-novo {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em auto;
    padding-bottom: 1em;
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.cadastrar-novo h2 {
    color: var(--navbars-color);
    text-align: center;
}

.cadastrar-novo a {
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid var(--navbars-color);
    border-radius: 3px;
    padding: 0.4em 1.2em;
    color: var(--font-color2);
    background-color: var(--main-color);
}   

.cadastrar-novo a:hover {
    transform: scale(1.15);
}

/* SECTION MODAL*/

#modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.5); 
}

#modal.hidden {
    display: none;
}

.container-modal {
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
    color: var(--font-color1);
    background-color: var(--navbars-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.div-modal-texto {
    text-align: center;
}

.texto-modal {
    font-family: Arial;
    font-size: 1.1em,;
}

.div-modal-button {
    display: flex;
    gap: 1em;
}

.modal-button-cancelar,
.modal-button-deletar   {
    padding: 0.3em 1.6em;
    cursor: pointer;
}


/* NEW-FLATS.HTML*/

/* SECTION CADASTRAR-IMOVEL*/

#newflat-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cadastrar-imovel {
    width: 90%;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    color: var(--font-color2);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.input-questionario {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1em;
}

.input-questionario div {
    display: flex;
    gap: 0.5em;
}

.label-input-newflat {
    display: flex;
    align-items: center;
}

.input-button {
    display: flex;
    justify-content: center;
}

#botao-cadastrar {
    width: 35%;
    background-color: var(--main-color);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    border-color: var(--navbars-color);
    font-size: 0.9em;
    padding: 0.5em 1.2em;
    cursor: pointer;
}

#botao-cadastrar:hover {
    transform: scale(1.1);
}

.erroFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-cadastro {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.5); 
}

#modal-cadastro.hidden {
    display: none;
}

.container-modal-cadastro {
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
    color: var(--font-color1);
    background-color: var(--navbars-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: var(--box-border);
    backdrop-filter: var(--box-blur);
    -webkit-backdrop-filter: var(--webkitbox-blur);
}

.div-modal-texto-cadastro {
    text-align: center;
}

.texto-modal-cadastro {
    font-family: Arial;
    font-size: 1.1em,;
}

.div-modal-button {
    display: flex;
    gap: 1em;
}

.modal-button-cadastrar,
.modal-button-aps {
    padding: 0.3em 1.6em;
    cursor: pointer;
}


@media (max-width: 800px) {
    header {
        height: auto;
        min-height: calc(100vh - 88vh);
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-menu {
        width: 100%;
        margin: 0.7em;
        justify-content: center;
        padding: 0;
    }

    #botoes-pesquisa {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
        padding: 0;
        margin-bottom: 1em;
    }

    main {
        height: auto;
        min-height: calc(100vh - 24vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        height: auto;
        min-height: calc(100vh - 88vh);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin: 0;
    }
    
    .contacto-footer {
        width: 100%;
        justify-content: center;
        padding-left: 0;
        margin-top: 0.5em;
    }

    .redes-sociais {
        width: 100%;
        justify-content: center;
        gap: 0.2em;
        padding-right: 0;
    }

    .introducao {
        width: 95%;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 4em;
        margin: 1em auto;
    }

    .introducao-paragrafo {
        width: 90%;
        margin-bottom: 1em;
    }

    .contador-apartamentos {
        width: 85%;
        margin-bottom: 1em;
    }

    .resumo-container {
        gap: 1em;
    }

    .resumo-container div {
        width: 12em;
    }

    .form-filtros {
        width: 85%;
        gap: 1em;
        flex-direction: column;
    }


    .filtro-valor,
    .filtro-area,
    .filtro-cidade {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .form-filtros div input {
        width: 8em;
    }

    .filtro-buttons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    .botoes-ordenar {
        width: 95%;
        padding : 0;
        gap: 0.5em;
        margin: 1.5em auto;
    }

    .botoes-ordenar button {
        width: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1em;
        cursor: pointer;
        padding: 0.1em;
    }

    .apartamentos-cadastrados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .style-div-flats {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 217px), 1fr));  
        gap: 1em;
        margin: 0;
    }

    /*tive que uisar esse comando para essa classe nao ser incluida para o id 
    nao ficar visivel*/
    .style-flat:not(.hidden) {
        display: flex;
        flex-wrap: wrap;
    }

    .cadastrar-novo {
        width: 80%;
    }

    .container-modal {
        width: 90%;
        padding: 1em;
    }

    #newflat-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .input-questionario div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .input-button {
        align-items: center;
    }

    #botao-cadastrar {
        width: 70%;
    }


}









